{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <br>
    <h3 class="text-success">BIENVENUE DANS NOTRE 1er APPLICATION AVEC SYMFONY-4</h3>
{% endblock %}

