{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <br>
    <h2 class="text-success">BIENVENUE DANS NOTRE 1er APPLICATION AVEC SYMFONY 4</h2>
{% endblock %}

